@import '../global.less';
@import '../animation.less';

body {
  overflow: hidden;
}

section {
  background-color: @primary-color;
  min-height: 100svh;
}

.container-1 {
  height: 100svh;
  display: flex;
  justify-content: center;
  position: relative;

  .text {
    color: @secondary-color;
    position: absolute;
    text-align: center;

    margin-top: -8rem;
    font-size: 8rem;
    @media (max-width: 1390px) {
      margin-top: -3rem;
      font-size: 6rem;
    }
    @media (max-width: 1080px) {
      margin-top: 0;
      font-size: 4rem;
    }
    @media (max-width: 720px) {
      margin-top: 0;
      font-size: 2rem;
    }

    height: 0rem;

    h1 {
      .animaiton-text-gradient(@secondary-color, #82d65b);
    }
  }

  .hero {
    width: 100%;
    position: absolute;

    h1 {
      position: absolute;
      font-size: 25em;
      opacity: 0.1;
      z-index: 2;
      letter-spacing: -50px;
    }

    img {
      width: 100%;
      height: 900px;
      @media (max-width: 1080px) {
        height: 800px;
      }
      object-fit: cover;
      position: absolute;
      z-index: 2;
    }
  }

  .desc {
    position: absolute;
    width: 1000px;
    @media (max-width: 1080px) {
      width: 600px;
    }
    @media (max-width: 720px) {
      width: 90%;
      flex-direction: column;
    }
    height: fit-content;
    z-index: 2;
    bottom: 8rem;
    display: flex;
    gap: 2rem;
    align-items: center;

    p {
      color: @secondary-color;
      font-size: xx-large;
      font-weight: bold;

      @media (max-width: 1080px) {
        font-size: larger;
      }
      @media (max-width: 720px) {
        text-align: center;
      }
    }

    button {
      font-size: x-large;
      padding: 1.5rem 2.5rem 1.5rem 2.5rem;
      width: max-content;
      border: 0;
      border-radius: 1rem;
      font-weight: bold;
      color: @primary-color;
      transition: all 300ms ease-in-out;
      cursor: pointer;

      // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      &:hover {
        scale: 1.2;
        transition: all 300ms ease-in-out;
        .animation-gradient(#82d65b, @secondary-color);
      }
    }
  }
}
